<!DOCTYPE html>
<html>
<head>
  <title>Título del sitio web</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1>Luisillo el Pillo</h1>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li> 
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Sección 1</h2>
      <p>Luisillo el pillo es muy pillo</p>
    </section>

    <section>
      <h2>Sección 2</h2>
      <p>vaia que pillo que es</p>
    </section>
  </main>

  <footer>
    <p>el colmo de la pillería xd</p>
  </footer>
</body>
</html>